body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6f6f6;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    background: white;
}

.left {
    width: 45%;
    position: relative;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.65;
}

.logo-box {
    position: absolute;
    bottom: 80px;
    left: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 85px;
}

.logo-box h1 {
    color: #152d6b;
    font-size: 42px;
    font-weight: bold;
}

.right {
    width: 55%;
    padding: 80px 120px;
}

.right h2 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #2b2b2b;
}

form label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-primary {
    background: #4b33d1;
    color: white;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-secondary {
    background: #dcdcdc;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary:hover {
    background: #381fbf;
}

.btn-secondary:hover {
    background: #c7c7c7;
}
